<% var data = {
title: "Для каждой страницы свой заголовок",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="error">
  <input id="page-name" type="text" hidden value="error">
  <section class="fist">
    <div class="error__bg">
      <img src="img/pc.jpg" alt="" class="error__img">
    </div>
    <div class="error__text">
      <h1 class="error__headline">ошибка 404</h1>
      <span class="error__subtitle">что то пошло не так!</span>
      <a href="./index.html" class="error__link">На главную</a>
    </div>
  </section>
</main>

<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>