<% var data = {
title: "Для каждой страницы свой заголовок",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="thanks">
  <input id="page-name" type="text" hidden value="thanks">
  <section class="success">
    <div class="thanks__bg">
      <img src="img/pc1.jpg" alt="" class="thanks__img">
    </div>
    <div class="thanks__text">
      <h1 class="thanks__headline">Ваша заявка принята</h1>
      <span class="thanks__subtitle">мы обязательно свяжемся с вами</span>
      <a href="./index.html" class="thanks__link">На главную</a>
    </div>
  </section>
</main>

<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>