$text-color: #003776;
$neon-color: #02FEFE;
$btn-color: #02a3fe;
$body-text: #fff;
$btn-focus: #007172;
$main-bg: #050618;
$arrow-btn: #161545;
$fixed-block: #008c8d;
$border-color: #59c7c8;
$btn-border: #008c8d;
$footer-bg: rgba(26, 0, 52, 0.85);

$header-btn: linear-gradient(90deg, $btn-focus 0%, $btn-border 100%);
$header-btn-hover: linear-gradient(270deg, $btn-focus 0%, $btn-border 100%);