@import "color.scss";


.advantage {
  border-bottom: 2px solid $border-color;

  &__title {
    font-size: 3.6rem;
    padding-top: 40px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }

  }

  &__wrapper {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
      justify-content: space-around;
    }
  }

  .hide {
    visibility: hidden;

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &__items-block {
    display: flex;
    align-items: center;
    width: 350px;
    height: 100px;
    padding: 10px;
    margin-top: 60px;
    border-radius: 20px;
    background: linear-gradient(90deg, #BD00FF 0%, rgba(196, 196, 196, 0) 100%);

    @media screen and (max-width: 767px) {
      width: 290px;
      height: 80px;
    }
  }

  &__icon {
    @media screen and (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }

  &__items-text {
    font-size: 2rem;
    margin-left: 30px;
  }

  &__btn-block {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 1199px) {
      width: 100%;
      justify-content: center;
      margin-top: 60px;
    }
  }

  &__button {
    display: block;
    width: 350px;
    height: 80px;
    color: $body-text;
    border: 3px solid $btn-border;
    background-color: $main-bg;
    font-size: 2rem;
    border-radius: 20px;

    @media screen and (max-width: 767px) {
      width: 290px;
    }
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding: 45px 0 20px 0;
  }
}

.slider {


  &__title {
    padding: 40px 0 50px 0;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
  }

  &__block {
    display: flex;
    align-items: center;

    .slick {

      /* Лента слайдов */
      &-track {

      }

      /* Слайдер */
      &-slider{

      }

      /* Ограничивающая оболочка */
      &-list {

      }

      &-slide {

      }


      &-arrow{
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
      }
      /* Стрелка влево */
      &-prev{
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $btn-border;
        box-shadow: 0 0 30px rgba(2,163,254,.5);
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          left: 35%;
          width: 25px;
          height: 25px;
          border-top: 4px solid $main-bg;
          border-left: 4px solid $main-bg;
          transform: translate(0,-50%) rotate(-45deg);
        }
      }
      /* Стрелка вправо */
      &-next{
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $btn-border;
        box-shadow: 0 0 30px rgba(2,163,254,.5);
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          right: 35%;
          width: 25px;
          height: 25px;
          border-top: 4px solid $main-bg;
          border-left: 4px solid $main-bg;
          transform: translate(0,-50%) rotate(135deg);
        }
      }
      /* Точки */
      &-dots{
        display: flex;
        align-items: baseline;
        justify-content: center;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%);
        button{
          font-size: 0;
          width: 10px;
          height: 10px;
          background-color: $body-text;
          border-radius: 50%;
        }
        .slick-active {
          button {
            border: 2px solid $body-text;
            background-color: transparent;
          }
        }
      }
    }

  }

  &__item {
    padding: 15px;
    margin: 0 15px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(189, 0, 255, 0.3) 0%, rgba(189, 0, 255, 0.09) 100%);
    box-shadow: inset 0px 0px 8px rgba(0, 185, 253, 0.5);

    //@media screen and (max-width: 1199px) {
    //  height: 410px;
    //}
    //
    //@media screen and (max-width: 767px) {
    //  height: 600px;
    //}
    //
    //@media screen and (max-width: 425px) {
    //  height: 435px;
    //}

  }

  &__item-wrap {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .slick-center {

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

}


