@import "color.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "404.scss";
@import "thanks.scss";

* {
  box-sizing: border-box;

  &:after,
  &:before {
    transition: inherit;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


html.active {
  overflow-y: hidden;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  color: $body-text;
  background-color: $main-bg;
}

:root {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

button {
  outline: none;
  padding: 0;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  transition: .3s;
  width: 30px;
  height: 30px;
  border: 2px solid $border-color;
  border-radius: 50%;
  @media screen and (max-width: 1199px) {
    right: 20px;
    top: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: $border-color;
    transition: all .3s;
  }

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: $border-color;
    transition: all .3s;
  }

  &:before,
  &:after {
    top: 50%;
    left: 50%;
  }

  &:hover {
    border: 2px solid $btn-border;

    &:before,
    &:after {
      background-color: $btn-border;
    }
  }
}
